        h1 {
            color: white;
            background: magenta;
        }
        
        h2 {
            color: rgb(177, 206, 195);
            background: rgb(77, 12, 12);
        }